<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Data</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="tutup()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-item lines="none">
      <ion-label class="ion-padding-bottom" position="stacked">Tipe</ion-label>
      <ion-radio-group value="pemasukan" formControlName="tipe" required>
        <ion-grid class="ion-no-padding">
          <ion-row [ngClass]="{'input-error' : isSubmitted && myForm.get('tipe')!.hasError('required')}">
            <ion-col>
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>Pemasukan</ion-label>
                <ion-radio slot="start" value="Pemasukan"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>Pengeluaran</ion-label>
                <ion-radio slot="start" value="Pengeluaran"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
    </ion-item>
    <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('tipe')!.hasError('required')">
      Silahkan pilih tipe.
    </ion-chip>

    <ion-item lines="none">
      <ion-label class="ion-padding-bottom" position="stacked">Tanggal</ion-label>
      <!-- <ion-input type="date" formControlName="tanggal" displayFormat="DD/MM/YYYY" required
                 [ngClass]="{'input-error' : isSubmitted && myForm.get('tanggal')!.hasError('required')}"></ion-input> -->

      <ion-datetime-button datetime="datetime_tanggal"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime #datetime_tanggal id="datetime_tanggal" formControlName="tanggal" mode="ios" presentation="date"
                        [firstDayOfWeek]="1" locale="id-ID" required>
            <ion-buttons slot="buttons">
              <ion-button color="medium" (click)="datetime_tanggal.cancel(true)">&nbsp;Batal&nbsp;</ion-button>
              <ion-button color="primary" (click)="datetime_tanggal.confirm(true)" fill="solid">&nbsp;Pilih
                tanggal&nbsp;</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-modal>

    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-padding-bottom" position="stacked">Keterangan</ion-label>
      <ion-input formControlName="keterangan" required
                 [ngClass]="{'input-error' : isSubmitted && myForm.get('keterangan')!.hasError('required')}"></ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('keterangan')!.hasError('required')">
      Silahkan isi keterangan.
    </ion-chip>

    <ion-item lines="none">
      <ion-label class="ion-padding-bottom" position="stacked">Nominal</ion-label>
      <ion-input formControlName="nominal" type="tel" required
                 [ngClass]="{'input-error' : isSubmitted && myForm.get('nominal')!.hasError('required')}"></ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('nominal')!.hasError('required')">
      Silahkan isi nominal.
    </ion-chip>

    <br>
    <ion-button class="ion-margin" color="success" expand="block" type="submit">Simpan</ion-button>
    <ion-button *ngIf="key" class="ion-margin" color="danger" expand="block" fill="clear" (click)="hapus()">Hapus
    </ion-button>
  </form>
</ion-content>