ion-datetime-button::part(native) {
 background: #FFF;
 border: 1px solid #ddd;
 font-size: 15px;
 height: 38px;
 padding-left: 9px;
 text-align: left;

 width: calc(100vw - 35px);
}

ion-buttons ion-button {
 font-size: 15px;
}