<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" style="--background:#e67e22">

  <div class="ion-text-center ion-padding">
    <div style="background-color: #fff; border-radius: 50%; height: 80px; width: 80px;margin: 0 auto;">
      <img src="assets/icon/book.png" style="width: 80px;">
    </div>
    <div class="ion-margin-top" style="color: #fff;text-shadow: 1px 1px 1px #666;">Aplikasi<br>Catatan Keuangan</div>
  </div>

  <ion-card>
    <ion-card-header class="ion-text-center" color="primary" style="background-color: #3498db;">
      LOGIN
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label class="ion-padding-bottom" position="stacked">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-padding-bottom" position="stacked">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-button class="ion-margin-top" color="success" expand="block" type="submit">Login</ion-button>
      <ion-button class="ion-margin-top" color="primary" expand="block" fill="clear" (click)="registrasi()">
       <div style="text-decoration: underline;">Registrasi baru</div> 
      </ion-button>
    </ion-card-content>
     
  </ion-card>

</ion-content>