/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.input-error {
    border: 1px solid red !important;
}

ion-chip {
    border-radius: 4px;
    font-size: 13px;
    margin-left: 16px;
    padding: 0 6px;
}

ion-input {
    --padding-start: 9px !important;
    --padding-end: 9px !important;
    border: 1px solid #ddd;
    border-radius: 8px;
}

ion-label {
    padding-left: 2px;
}

ion-radio-group {
    ion-label {
        font-size: 14px;
    }

    ion-radio {
        margin-right: 6px;
    }
}