ion-col {
  color: #666;
  font-size: 14px;
  padding: 6px;
}

.baris {
  // background-color: #ecf0f1;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 2px;
}

.bulan {
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #222;
  height: 36px;
  margin-top: 6px;
  padding-left: 10px;

  ion-datetime {
    margin-top: -14px;
  }

  ion-icon {
    margin-right: -8px;
    margin-top: -3px;
  }
}

table {
  width: 100%;

  td,
  th {
    border: 1px solid #bbb;
  }
}

ion-datetime-button::part(native) {
  // background: #FFF;
  // border: 1px solid #ccc;
  font-size: 15px;
  min-width: 140px;
  text-align: left;
}

ion-modal {
  --border-radius: 8px;

  ion-datetime {
    width: 100vw;

    .doneText {
      background-color: red !important;
    }
  }
}