<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="settings-outline" style="font-size: 24px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Catatan Keuangan
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sharePDF()">
        <ion-icon name="share-social-outline" style="font-size: 24px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background:#eee">

  <ion-card class="ion-no-margin ion-margin-bottom">
    <ion-card-content class="ion-no-padding ion-padding-end">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-no-padding" size="auto">
          <ion-item lines="none">
            <ion-label position="fixed" style="min-width:55px !important;max-width:55px !important;">
              Bulan :
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <!-- <ion-item class="ion-no-padding bulan" lines="none">
            <ion-datetime [(ngModel)]="filter_bulan" displayFormat="MMMM YYYY" (ionChange)="set_bulan($event.target)"
                          monthNames="Januari, Februari, Maret, April, Mei, Juni, Juli, Agustus, September, Oktober, November, Desember">
            </ion-datetime>
            <ion-icon name="calendar-outline" color="primary" slot="end"></ion-icon>
          </ion-item> -->

          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #datetime id="datetime" presentation="month-year" locale="id-ID" (ionChange)="set_bulan($event.target);">
                <ion-buttons slot="buttons">
                  <ion-button color="medium" (click)="datetime.cancel(true)">Batal</ion-button>
                  <ion-button color="primary" fill="solid" (click)="datetime.confirm(true);"
                              style="--border-radius:8px; width:100px;">Pilih</ion-button>
                </ion-buttons>
              </ion-datetime>
            </ng-template>
          </ion-modal>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-grid class="ion-no-padding">
    <ion-row style="font-weight: bold;">
      <ion-col>Keterangan</ion-col>
      <ion-col class="ion-text-end">Pemasukan</ion-col>
      <ion-col class="ion-text-end">Pengeluaran</ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let dbt of data_tgl_filtered">

    <ion-grid class="ion-no-padding ion-margin-top">
      <ion-row>
        <ion-col size="auto" style="font-size: 12px;font-weight: 700;">
          {{dbt.tanggal | date:'dd/MM/YYYY'}}
        </ion-col>
        <ion-col>
          <hr style="border-top: 1px solid #bbb;">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding" *ngFor="let db of data">
      <ion-row class="baris" *ngIf="db.tanggal==dbt.tanggal" (click)="modalForm(db.$key)">
        <ion-col style="overflow: auto;">
          {{db.keterangan}}
        </ion-col>
        <ion-col class="ion-text-end" style="color: #27ae60;">
          <div *ngIf="db.tipe=='Pemasukan'">{{db.nominal | number}}</div>
          <div *ngIf="db.tipe!='Pemasukan'">&nbsp;</div>
        </ion-col>
        <ion-col class="ion-text-end" style="color: #d35400;">
          <div *ngIf="db.tipe=='Pengeluaran'">{{db.nominal | number}}</div>
          <div *ngIf="db.tipe!='Pengeluaran'">&nbsp;</div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="modalForm(null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer class="ion-padding-horizontal" style="background-color: #fff;padding-bottom:4px;padding-top:4px;">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col><b>Total :</b></ion-col>
      <ion-col class="ion-text-end" style="color: #27ae60;font-weight: 700;">{{total_pemasukan | number}}</ion-col>
      <ion-col class="ion-text-end" style="color: #d35400;font-weight: 700;">{{total_pengeluaran | number}}</ion-col>
    </ion-row>
    <ion-row style="border-top: 2px solid #ddd;">
      <ion-col class="ion-text-center" style="font-weight: 700;padding-top: 8px;">Saldo: {{saldo | number}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>